{% extends "layout.html" %}
{% block body %}
<h4> logged in as {{username}}</h4>
<div class="container">
    <h1>Profile</h1>
    <form action="/profile/{{username}}" method="post">
      <input type="text" name="link">
      <input type="text" name="description">
      <button type="submit">add link</button>
    </form>
    <h2>your links</h2>
    {% for links in user_links %}
    <div>
        <p></p><a href="{{links}}"></a></p>
        <h4>panda</h4>
        <button id="removelink">Delete</button>
    </div>
    {% endfor %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for messages in messages %}
                <h4>{{messages}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}