{%extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>Signup</h1>
        <form action="/signup" method="POST">
            <h4> username: <input type="text" name="username"></h4>
            <h4> password: <input type="password" name="password"></h4>
            <h4> retype password: <input type="password" name="retype_password"></h4>
            <button type="submit">sign up</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}